<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="main.css" />
  </head>

  <body>
    <header>
      <!-- лого будет текстовым -->
      <a href="/"><p id="logo">★</p></a>
      <nav>
        <ul class="nav_links">
          <li><a href="/">Одежда</a></li>
          <li><a href="/accesories">Аксессуары</a></li>
        </ul>
      </nav>
      <a href="/bin">
        <p class="header_button">Корзина</p>
      </a>
    </header>

    <div class="login_div_flex">
      <div class="login_div">
        <h1>Войдите, чтобы вносить изменения</h1>
        <p>Секретный ключ (root):</p>
        <form method="POST">
          <input class="DDD" type="password" name="pass"/>
          <input class="DDD" type="submit" value="Войти" />
        </form>
      </div>
    </div>

    <footer id="about">
      <p></p>
      <nav>
        <ul class="footer_links">
          <li><a href="https://t.me/fanoll1">telegram</a></li>
          <li><a href="#">vk</a></li>
        </ul>
      </nav>
      <p></p>
    </footer>
  </body>

</html>